<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FuseTech_Mapper">

	<select id="aimsdata" resultType="java.util.Map" statementType="CALLABLE" parameterType="java.util.Map">
     		{call ESB_GetFlightDataDetails (@FromDate=#{fromDate},@Todate=#{toDate})}
    	</select>

</mapper>
